
.formStyle {
  width: 50%;
  margin-top : 10%;
  border : 2px solid black;
  padding : 30px;
  padding-top : 50px;
  padding-bottom: 50px;
  border-radius: 10px;
  background-color: whitesmoke;
}

.tdStyle {
  padding : 20px;
}


.imgStyle {
  height: 200px;
  width: 300px;
}

.inputStyle {
   border: 2px Solid black;
   border-radius : 5px;
   font-size: 20px;
   padding: 5px;
   width: 120%;
}


.submit-button {
   background-color: aquamarine;
   width: 124%;
   height: 50px;
   font-size: 18px;
   border-radius: 5px;
}

